<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipologiaPermesso">
            <h2><span>Tipologia Permesso</span> {{ tipologiaPermesso.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{ tipologiaPermesso.nome }}</span>
                </dd>
                <dt><span>Codice</span></dt>
                <dd>
                    <span>{{ tipologiaPermesso.codice }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipologia-permesso', tipologiaPermesso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
