<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="autorizzazione">
            <h2><span>Autorizzazione</span> {{ autorizzazione.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{ autorizzazione.nome }}</span>
                </dd>
                <dt><span>Descrizione</span></dt>
                <dd>
                    <span>{{ autorizzazione.descrizione }}</span>
                </dd>
                <dt><span>Stato</span></dt>
                <dd>
                    <span>{{ autorizzazione.stato }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/autorizzazione', autorizzazione.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
